
<aside class="aside">
    <h6 class="aside-cabecera"><i class="fas fa-tachometer-alt mr-2 text-white"></i> Dashboard</h6>

    <ul class="aside-ul">
        <li> <a href="/Ministerios/Index"><i class="fas fa-hotel mr-2 text-white"></i> Ministerios</a></li>
        <li> <a href="/Ministros/Index"><i class="fas fa-user-tie mr-2 text-white"></i> Ministro</a></li>
        <li> <a href="/Funcionarios/Index"><i class="fas fa-user mr-2 text-white"></i> Funcionarios</a></li>
    </ul>
</aside>